#header{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 15%;
	background-color: white;
	z-index: 2;
}
#logo, #home, #facebook{
	visibility: hidden;
}
#div1{
	height: 100%;
	position: relative;
	top: 80px;
	background-image: url("family_vertical.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#ifform{
	height: 100%;
	width: 100%;
	border: 5px solid black;
	position: relative;
	z-index: 1;
}
#form{
	height: 60%;
	width: 100%;
	z-index: 2;
	position: fixed;
	top: 30%;
	left: 0%;
	display: none;
}
#cross{
	width: 40px;
	height: 40px;
	margin: 0;
	font-size: 100px;
	font-weight: 300;
	font-family: Arial, sans-serif;
	position: fixed;
	top: 30%;
	left: 90%;
	z-index: 3;
	cursor: pointer;
}

#quote{
	position: absolute;
	word-spacing: 25px;
	top: 50%;
	background-color: #fc6f00;
	color: white;
	width: 100%;
	height: 40%;
	padding-top: 2%;
	font-size: 70px;
	text-align: center;
	font-family: Poppins,sans-serif
}
#call{
	position: absolute;
	top: 0px;
	height: 50%;
	padding: 3% 5%;
	width: 100%;
	font-size: 50px;
}
#number{
	position: absolute;
	top: 0px;
	padding: 3% 5%;
	left: 15%;
	font-size: 70px;
}

#footer{
	position: relative;
	font-size: 40px;
	top: 5%;
}
#flogo{
	position: relative;
	height: 20%;
	width: 100%;
}
#flogoimg{
	height: 90%;
}
ul{
	list-style-type: none;
}
li{
	margin: 10px;
	text-align: left;
	margin-left: 5%;
}
a{
	text-decoration: none;
	color: black;
}
a:visited{
	color: black;
}
#list1{
	position: relative;
	left: 0px;
	width: 100%;
}
#list2{
	position: relative;
	width: 100%;
}
#list3{
	position: relative;
	width: 100%;
}