#ifform{
	height: 900px;
	width: 600px;
	border: none;
	position: relative;
	top: -10px;
	z-index: 1;
}

body{
	background-color: #ebeff3;
	padding: none;
}
#div1{
	width: 100%;
	height: 100%;
	background-color: grey;
	z-index: 2;
	position: absolute;
	top: 80px;
	left: -5px;
	color: white;
}
.name{
	font-size: 25px;
	text-decoration: underline;
}
#included, #panels, #cost, #inverter{
	width: 40%;
	text-align: left;
	height: 30%;
	position: relative;
	font-size: 20px;
	font-family: "Lucida Console", Courier, monospace;
}
#included{
	left: 10%;
}
#cost{
	position: relative;
	top: -30%;
	left: 10%;
}

#panels{
	top: -30%;
	left: 60%;
}
#inverter{
	top: -60%;
	left: 60%;
}
#ad{
	position: relative;
	height: 8%;
	top: 10px;
	text-align: center;
	width: 100%;
	color: white;
	font-size: 35px;
	font-family: "Lucida Console", Courier, monospace;
}
#quote2{
	font-size: 25px;
	color: white;
	cursor: pointer;
	position: relative;
	width: 30%;
	border-radius: 5px;
	background-color: #fc6f00;
	top: -60%;
	left: 15%;
	padding: 2% 2%;
	text-align: center;
	font-family: "Lucida Console", Courier, monospace;
	webkit-transition: background-color .4s ease;
	transition: background-color .4s ease;
	font-family: Poppins,sans-serif
}
#quote2:hover{
	background-color: #0675ec;
	
}
#div1 li{
	margin: 10px;
	text-align: left;
}

#form{
	height: 750px;
	width: 600px;
	z-index: 2;
	position: absolute;
	top: 50px;
	left: calc((100% - 600px)/2);
	display: none;
}
#cross{
	width: 40px;
	height: 40px;
	margin: 0;
	font-size: 60px;
	font-weight: 300;
	font-family: Arial, sans-serif;
	position: fixed;
	top: 50px;
	left: calc(100% - 410px);
	z-index: 3;
	cursor: pointer;
}
#header{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 80px;
	background-color: white;
	z-index: 3;
}
#logo{
	z-index: 3;
	width: 200px;
	height: 200px;
}
#quote{
	position: absolute;
	top: 10px;
	left: 80%;
	background-color: #fc6f00;
	color: white;
	width: 200px;
	font-size: 20px;
	text-align: center;
	padding: 20px 2%;
	border-radius: 5px;
	cursor: pointer;
	font-family: "Lucida Console", Courier, monospace;
	webkit-transition: background-color .4s ease;
	transition: background-color .4s ease;
	font-family: Poppins,sans-serif
}
#quote:hover{
	background-color: #0675ec;
}
#home{
	position: absolute;
	top: 20px;
	left: 20%;
	font-size: 20px;
	padding: 20px;
}
#facebook{
	position: absolute;
	top: 20px;
	left: 55%;
	padding: 10px;
	color: blue;
}
#call{
	position: absolute;
	top: 20px;
	left: 60%;
	height: 60px;
	width: 200px;
}
#imgcall{
	height: 40px;
}
#number{
	position: relative;
	top: -30px;
	left: 35px;
	font-size: 25px;
}
#footer{
	position: relative;
	top: 110%;
}

.list-unstyled li{
	margin: 10px;
	text-align: right;
	list-style-type: none;
	font-family: "Lucida Console", Courier, monospace;
	font-size: 20px;
}
a{
	text-decoration: none;
	color: black;
}
a:visited{
	color: black;
}
#list1{
	position: relative;
	left: 30%;
	width: 15%;
	height: 30%;
	font-size: 15px;
	margin-top: -80px;;
}
#list2{
	position: relative;
	margin-top: -15%;
	left: 45%;
	width: 25%;
	height: 30%;
	font-size: 15px;
}
#list3{
	position: relative;
	margin-top: -15%;
	left: 70%;
	width: 20%;
	height: 30%;
	font-size: 15px;
}
