#ifform{
	height: 900px;
	width: 600px;
	border: none;
	position: relative;
	top: -10px;
	z-index: 1;
}

body{
	background-color: #ebeff3;
	padding: none;
}
#div1{
	height: 100%;
	position: relative;
	top: 80px;
	background-image: url("family.jpeg");
}
#form{
	height: 750px;
	width: 600px;
	z-index: 2;
	position: absolute;
	top: 50px;
	left: calc((100% - 600px)/2);
	display: none;
}
#cross{
	width: 40px;
	height: 40px;
	margin: 0;
	font-size: 60px;
	font-weight: 300;
	font-family: Arial, sans-serif;
	position: fixed;
	top: 50px;
	left: calc(100% - 410px);
	z-index: 3;
	cursor: pointer;
}
#header{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 80px;
	background-color: white;
	z-index: 2;
}
#logo{
	z-index: 3;
	width: 200px;
	height: 200px;
}
#quote{
	position: absolute;
	top: 10px;
	left: 80%;
	background-color: #fc6f00;
	color: white;
	width: 200px;
	font-size: 20px;
	text-align: center;
	padding: 20px 0px;
	border-radius: 5px;
	cursor: pointer;
	webkit-transition: background-color .4s ease;
	transition: background-color .4s ease;
	font-family: Poppins,sans-serif
}
#quote:hover{
	background-color: #0675ec;
	color: white;
}
#home{
	position: absolute;
	top: 20px;
	left: 20%;
	font-size: 15px;
	padding: 20px;
}
#facebook{
	position: absolute;
	top: 20px;
	left: 55%;
	padding: 10px;
	color: blue;
}
#call{
	position: absolute;
	top: 20px;
	left: 60%;
	height: 60px;
	width: 200px;
}
#imgcall{
	height: 40px;
}
#number{
	position: relative;
	top: -30px;
	left: 35px;
	font-size: 25px;
}
#footer{
	position: relative;
	top: 80px;
}
ul{
	list-style-type: none;
}
li{
	margin: 10px;
	text-align: right;
}
a{
	text-decoration: none;
	color: black;
}
a:visited{
	color: black;
}
#list1{
	position: relative;
	left: 50%;
	width: 15%;
	height: 30%;
	font-size: 15px;
	margin-top: -80px;;
}
#list2{
	position: relative;
	margin-top: -15%;
	left: 65%;
	width: 15%;
	height: 30%;
	font-size: 15px;
}
#list3{
	position: relative;
	margin-top: -15%;
	left: 80%;
	width: 15%;
	height: 30%;
	font-size: 15px;
}